<!DOCTYPE html>
<html>
<title>Projeto Especializado</title>
<link rel="shortcut icon" type="image/x-icon" href="https://image.flaticon.com/icons/png/512/25/25706.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.img-icon{
 height: 20px;
 width: 20px;
}
#logo{
 height: 30px;
}
#logo-black{
 height: 20px;
}
#logo-footer{
 height: 50px;
}
#sobre-titulo{
				font-size:30px;
				text-align: center;
            }
			#sobre-texto{
				font-size:15px;
				padding-left:5%;
				text-align: justify;
            }
			#sobre-figura{
				float: right;
				padding-right:5%;
				padding-left:20px;
				width: 40%;
.bottom {
                position:absolute;
                bottom:0;
                left:0;
            }



</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><img src="https://i.imgur.com/lqhY0Mg.png" style="width:25px;" ></i></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left w3-white" style="z-index:3;width:300px;" id="mySidebar"><br>

  <hr>

  <div class="w3-bar-block">
		<a href="{{ url_for('new_client') }}" class="w3-bar-item w3-button w3-padding" onclick="w3_close();" ><i class="fa fa-plus fa-fw"></i> Adicionar Cliente</a>
        <a class="w3-bar-item w3-button w3-padding" onclick="abretroca();" ><i class="fa fa-list fa-fw"></i> Lista de Clientes</a>
		<div id="escolha" align="center" class="w3-light-grey" style="display:none;">
			<div class="w3-container w3-light-grey w3-padding"></div>
			<select onchange="location = this.value;" name="goid" class="w3-select" style="font-size:15px; text-align:center;">
            <option value="" selected disabled hidden>Escolha um</option>
                {% for client in clients %}
			<option value = "{{ url_for('show_one', client_id=client.id) }}">{{ client.name }}</option>
                {% endfor %}
            </select>
			<div class="w3-container w3-light-grey w3-padding-small"></div>


		</div>
		<hr>


  </div>
  </div>
  <div class="w3-container w3-padding-16 w3-white">
    <h4 style="text-align:center;"><img src="https://i.imgur.com/9m1JrAd.png" style="width:200px;" ></h4>
  </div>

</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:20px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:25px">
      <h5><b><a href = "{{ url_for('index') }}"style="text-decoration: none"><i class="fa fa-power-off"></i> Minha Rede</a></b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">


      {% if client.connected%}
        <div id = "cor" class="w3-container w3-teal w3-padding-16 w3-round-xlarge">
      {% else %}
        <div id = "cor" class="w3-container w3-blue-gray w3-padding-16 w3-round-xlarge">
      {% endif %}

        <div class="w3-left">
          <h2>
            {{ client.name }}
          </h2>
        </div>
        <div id = "dados1">
        {% if client.function == "Luz" %}
            {% if client.action %}
                <div class="w3-right"><i class="far fa-lightbulb w3-xxxlarge"></i></div>
            {% else %}
                <div class="w3-right w3-text-dark-gray"><i class="far fa-lightbulb w3-xxxlarge"></i></div>
            {% endif %}
        {% elif client.function == "Porta" %}
          {% if client.value%}
            <div class="w3-right"><i class="fas fa-door-closed w3-xxxlarge"></i></div>
          {% else %}
            <div class="w3-right"><i class="fas fa-door-open w3-xxxlarge"></i></div>
          {% endif %}
        {% elif client.function == "Ar" %}
          {% if client.action %}
                <div class="w3-right"><i class="fa fa-thermometer-three-quarters w3-xxxlarge"></i></div>
            {% else %}
                <div class="w3-right w3-text-dark-gray"><i class="fa fa-thermometer-three-quarters w3-xxxlarge"></i></div>
            {% endif %}
        {% else %}
          <div class="w3-right"><i class="fa fa-power-off w3-xxxlarge"></i></div>
        {% endif %}
          <div class="w3-right" style="margin-right: 20px">
            {% if client.connected%}
                <i class="material-icons w3-xxxlarge">signal_wifi_4_bar</i>
            {% else %}
                <i class="material-icons w3-xxxlarge w3-text-dark-gray">signal_wifi_off</i>
            {% endif %}
        </div>
        <div class="w3-clear"></div>
          <div class="w3-container w3-light-grey w3-padding-small"></div>
              <div class="w3-container w3-padding">
      <table style="text-align:center;">
         <thead>
            <tr>
                <th>Nome</th>
                <th>Função</th>
                {% if client.function == "Ar"%}
                    <th>Temp</th>
                    <th>Ligado</th>
                {% elif client.function == "Porta" %}
                    <th>Fechada</th>
                {% elif client.function == "Luz" %}
                    <th>Ligado</th>
                {% endif %}

            </tr>
         </thead>
         <tbody>
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.function }}</td>
                {% if client.function == "Ar"%}
                    <td id=value>{{ client.value }}°C</td>
                    {% if client.action%}
                        <td>Sim</td>
                    {% else %}
                        <td>Não</td>
                    {% endif %}
                {% elif client.function == "Porta" %}
                    {% if client.value%}
                        <td>Sim</td>
                    {% else %}
                        <td>Não</td>
                    {% endif %}
                {% elif client.function == "Luz" %}
                    {% if client.action%}
                        <td>Sim</td>
                    {% else %}
                        <td>Não</td>
                    {% endif %}
                {% endif %}


            </tr>
         <div class="w3-right">
             <br>
                <a class="w3-circle" onclick="abreinfo();" style="padding: 8px"><i class="fa fa-plus fa-fw"></i></a>
                    </div>
         </tbody>
      </table >
              </div>
          </div>
          <div class="w3-container w3-light-grey w3-padding-small"></div>
        <div class="w3-clear"></div>
<div id="info" style="display:none;">

    <div id = "dados2" class="w3-container w3-padding">
      <table style="text-align:center;">
         <thead>
            <tr>
               <th>ID</th>
               <th>IP</th>
               <th>IP2</th>
               <th>Conexão</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td id="client_id">{{ client.id }} </td>
                <td>{{ client.ip }}</td>
                <td>{{ client.ip2 }}</td>
                {% if client.connected %}
                    <td>Conectado</td>
                {% else %}
                    <td>Desconectado</td>
                {% endif %}

            </tr>

         </tbody>
      </table>
          </div>

          <div class="w3-light-grey w3-padding-small"></div>
</div>
    <div class="w3-padding"></div>

          <div class="w3-clear"></div>
            <div id="botoes" align="center" style="display:none;">
                    {% if client.function == "Luz" %}
                        <form action = "" method = "post" style="display: inline;">
                            <input type = "hidden" name = "codigo" value = 10 />
                            <input type = "hidden" name = "button" value = "funcao" />
                            <button type = "submit" class="w3-button w3-light-grey w3-round-large" style=" padding: 8px; margin-right: 8px"><i class="far fa-lightbulb fa-fw" style="margin-right: 8px"></i><a>Ligar</a></button>
                        </form>
                        <form action = "" method = "post" style="display: inline;">
                            <input type = "hidden" name = "codigo" value = 11 />
                            <input type = "hidden" name = "button" value = "funcao" />
                            <button type = "submit" class="w3-button w3-light-grey w3-round-large" style="padding: 8px"><i class="fas fa-lightbulb fa-fw" style="margin-right: 8px"></i><a>Desligar</a></button>
                        </form>
                    {% elif client.function == "Porta" %}
                        <form action = "" method = "post" style="display: inline;">
                            <input type = "hidden" name = "codigo" value = 22 />
                            <input type = "hidden" name = "button" value = "funcao" />
                            <button type = "submit" class="w3-button w3-light-grey w3-round-large" style=" padding: 8px;"><i class="fa fa-spinner fa-fw" style="margin-right: 8px"></i><a>Atualizar</a></button>
                        </form>
                    {% elif client.function == "Ar" %}
                        <form action = "" method = "post" style="display: inline;">
                            <input type = "hidden" name = "codigo" value = 33 />
                            <input type = "hidden" name = "button" value = "funcao" />
                            <input type= "number" class="w3-input" style="display: inline;width:48px" name = "temp" value = {{client.act_value}} id="myRange" min="16" max="30">
                            <button type = "submit" class="w3-button w3-light-grey w3-round-large" style=" padding: 8px; margin-left: 8px"><i class="fa fa-thermometer-three-quarters fa-fw" style="margin-right: 8px"></i><a>Setar Temp</a></button>
                        </form>

                        <div class="w3-padding "></div>
                        <form action = "" method = "post" style="display: inline;">
                            <input type = "hidden" name = "codigo" value = 30 />
                            <input type = "hidden" name = "button" value = "funcao" />
                            <input type = "hidden" name = "temp" id="demo" />
                            <button type = "submit" class="w3-button w3-light-grey w3-round-large" style=" padding: 8px; margin-right: 8px"><i class="fa fa-power-off fa-fw" style="margin-right: 8px"></i><a>Ligar</a></button>
                        </form>
                        <form action = "" method = "post" style="display: inline;">
                            <input type = "hidden" name = "codigo" value =31 />
                            <input type = "hidden" name = "button" value = "funcao" />
                            <button type = "submit" class="w3-button w3-light-grey w3-round-large" style="padding: 8px; margin-right: 8px"><i class="fa fa-power-off fa-fw" style="margin-right: 8px"></i><a>Desligar</a></button>
                        </form>
                        <form action = "" method = "post" style="display: inline;">
                            <input type = "hidden" name = "codigo" value = 32 />
                            <input type = "hidden" name = "button" value = "funcao" />
                            <button type = "submit" class="w3-button w3-light-grey w3-round-large" style=" padding: 8px"><i class="fa fa-spinner fa-fw" style="margin-right: 8px"></i><a>Atualizar</a></button>
                        </form>
                    {% else %}
                    {% endif %}
                <div class="w3-padding "></div>
            </div>
          <div id="editar" align="left" style="display:none;">
            <form action = "" method = "post" >
                <label>Editar nome do cliente</label><br>
              <div class="w3-left">
                <input  class="w3-input w3-round-large" type = "text" name = "name" placeholder = {{ client.name }} /><br>
                <input type = "hidden" name = "button" value = "Edit" />
              </div>
              <div class="w3-left">
                <input type = "submit" value = "Editar"  class="w3-button w3-light-grey w3-round-large" style="margin-left: 8px">
              </div>
            </form>
          </div>


    <div class="w3-clear"></div>


          <div id="envia" align="left" style="display:none;">
      <form action = "" method = "post" >
         <label>Enviar código para cliente</label><br>
         <div class="w3-left">
            <input class="w3-input w3-round-large" type = "text" name = "codigo" placeholder = "Código"/><br>
            <input type = "hidden" name = "ip" value = {{ client.ip }} />
            <input type = "hidden" name = "ip2" value = {{ client.ip2 }} />
            <input type = "hidden" name = "button" value = "Enviar Código" />
          </div>
          <div class="w3-left">
            <input type = "submit"  value = "Enviar" class="w3-button w3-light-grey w3-round-large" style="margin-left: 8px" >
          </div>
      </form>
          </div>
          <div class="w3-clear"></div>

          <div class="w3-left">
            <a class="w3-button w3-light-grey w3-round-large" onclick="abreeditar();" style="padding: 8px"><i class="fa fa-pencil fa-fw" style="margin-right: 8px"></i>Editar Nome</a>
          </div>
          <div class="w3-right">
            <a class="w3-button w3-light-grey w3-round-large" onclick="abrebotoes();" style="padding: 8px;"><i class="fas fa-wrench fa-fw" style="margin-right: 8px"></i>Interagir</a>
          </div>
          <div class="w3-clear"></div>
          <div class=" w3-padding"></div>
          <div class="w3-left">
            {%- for message in get_flashed_messages() %}
                <a style="margin-left: 8px">{{ message }}</a>
            {%- endfor %}
            <!--<a class="w3-button w3-light-grey w3-round-large " onclick="abreenvia(); " style="padding: 8px"><i class="fa fa-send fa-fw"style=" margin-right: 8px"></i>Enviar Código</a>!-->
          </div>
          <div class="w3-right">
            <form action = "" method = "post">
                <input type = "hidden" name = "button" value = "Delete Client" />
                <button type = "submit" class="w3-button w3-light-grey w3-round-large" style="padding: 8px"><i class="fa fa-trash fa-fw" style="margin-right: 8px"></i><a>Deletar</a></button>
            </form>
         </div>



      </div>



  </div>



  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
		<div id="sobre">
			<h6>copyright eu 2020</h6>
		</div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4 style="text-align:center;"><img src="https://i.imgur.com/PmfmRU9.png" style="width:350px;" ></h4>
  </footer>

  <!-- End page content -->
</div>
</div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">


var client_id = {{ client.id|safe }};
var cor = document.getElementById("cor");
console.log("a");
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(document).ready(function() {
        $.get( $SCRIPT_ROOT + '/update/' +  client_id + '/1', function(data){
                 $("#dados1").html(data);
            }
        );
        $.get( $SCRIPT_ROOT + '/update/' +  client_id + '/2', function(data){
                 $("#dados2").html(data);
            }
        );
        $.get( $SCRIPT_ROOT + '/update/' +  client_id + '/3', function(data){
                if(data.connected){
                    cor.classList.remove("w3-blue-gray")
                    cor.classList.add("w3-teal")
                }else{
                    cor.classList.remove("w3-teal")
                    cor.classList.add("w3-blue-gray")
                }
            }
        );

        setTimeout(arguments.callee, 3000);
	});









// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

function fechatroca() {
  escolha.style.display = "none";
}

function abretroca() {
  if (escolha.style.display === 'block') {
    escolha.style.display = 'none';
  } else {
    escolha.style.display = 'block';
  }
}

function abreenvia() {
  if (envia.style.display === 'block') {
    envia.style.display = 'none';
  } else {
    envia.style.display = 'block';
  }
}

function abreeditar() {
  if (editar.style.display === 'block') {
    editar.style.display = 'none';
  } else {
    editar.style.display = 'block';
  }
}

function abreinfo() {
  if (info.style.display === 'block') {
    info.style.display = 'none';
  } else {
    info.style.display = 'block';
  }
}
function abrebotoes() {
  if (botoes.style.display === 'block') {
    botoes.style.display = 'none';
  } else {
    botoes.style.display = 'block';
  }
}


var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.value = slider.value;

slider.oninput = function() {
  output.value = this.value;
}

</script>

</body>
</html>
